.client_tickets{
display: flex;
flex: 1;
flex-direction: column;
background-color: #183247;
height: 100vh;
}
.backheader_link{
margin-left: -120px;
color: rgb(0, 255, 153);
}
.client_tickets_header{
display: flex;
flex-direction: column;
margin-bottom: 20px;
}
.clients_tickets_header_title>h3{
color: white;
font-size: 20px;
font-weight: 600;
margin-left: -20px;
}
.clients_tickets_header_title>h2{
  color: white;
font-size: 20px;
font-weight: 600;
margin-left: 70px;
}

.back_button:hover{
    background-color: lightgrey;
}
.header_link{
  color: antiquewhite;
  
}
.back_button{

color: rgb(0, 255, 153)!important;



}
.clients_tickets_header_title{
margin-left: -1150px;
}
.clients_tickets_display{
display: flex;
flex-direction: column;
background-color: #183247;

}

.ticket_info{
margin-bottom: 20px;
display: flex;
padding: 10px;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid rgb(106, 105, 104)!important;
border-top: 1px solid rgb(106, 105, 104)!important;;
border-right: 1px solid rgb(106, 105, 104)!important;
border-left: 1px solid rgb(106, 105, 104)!important; 
border-radius: 5px!important;
margin-left: 20px;
margin-right:20px;
background-color:rgb(214, 214, 214);
}
.ticket_info:hover{
background-color: rgb(0, 255, 153);
}
.closeticket:hover{
background-color:rgb(214, 214, 214);
  
}
.closeticket{
background-color: #183247;
  font-size: 20px;
  font-weight: 600;
  border-radius: 2px;
}
.ticket_infoa:hover{
background-color: rgb(0, 255, 153);
}
.ticket_infoa{
margin-bottom: 20px;
display: flex;
padding: 10px;
align-items: center;

justify-content: space-evenly;
justify-content: space-between;
border-bottom: 1px solid rgb(106, 105, 104)!important;;
border-top: 1px solid rgb(106, 105, 104)!important;;
border-right: 1px solid rgb(106, 105, 104)!important;
border-left: 1px solid rgb(106, 105, 104)!important; 
border-radius: 5px!important;
margin-left: 20px;
margin-right:20px;
background-color: lightgrey;
}


.ticket_info_closed{
border-radius: 5px!important;

margin-bottom: 20px;
display: flex;
padding: 10px;
gap: 20px;
align-items: center;
justify-content: space-between;
margin-left: 20px;
margin-right:20px;
    background-color: #abcdef;
    border-bottom: 1px solid rgb(106, 105, 104)!important;;
border-top: 1px solid rgb(106, 105, 104)!important;;
border-right: 1px solid rgb(106, 105, 104)!important;
border-left: 1px solid rgb(106, 105, 104)!important; 

}