/* Define root variables */
:root {
    --primary-color: #3f51b5;
    --secondary-color: #ffffff;
  }
  
  /* Import Google Font */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
  
  /* Global styles */
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    color: #333;
    margin: 0;
  }
  
  h2, h3 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  /* Styles for the email inbox */
  .client_tickets {
    width: 100%;
    height: 100vh;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .client_tickets_header {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
  }
  
  .backheader_link {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .back_button {
    font-size: 2rem;
  }
  
  .clients_tickets_header_title {
    flex-grow: 1;
    text-align: center;
    margin-top: 20px;
  }
  
  .clients_tickets_display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  