/* Define root variables */
:root {
    --primary-color: #3f51b5;
    --secondary-color: #ffffff;
  }
  
  /* Import Google Font */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
  
  /* Global styles */
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #444444;
  }
  .raiseticket{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);

  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
 * h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 600;
    size: 20px;
  }
  
  p {
    margin: 0;
  }
  .raiseticket_footer{
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    color: #ffffff;

  }
  .wrap_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .wrap_buttons>button {
    border: none;
    background-color: #ffffff;
    color:var(--primary-color) ;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Header styles */
  .raiseticket_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .linkagent1 {
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Sidebar styles */
  .sidebar {
    display: flex;
    flex: 0.26;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 20px;
    /* width: 250px; */
    border-radius: 4px;
    border: 1px solid #dddddd;
  }
  
  .button_container {
    margin-bottom: 10px;
  }
  
  .header_link {
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .header_link:hover {
    background-color: #e0e0e0;
  }
  
  .span_tickets, .span_mytickets {
    display: flex;
    align-items: center;
  }
  
  .span_tickets::before {
    content: url('https://img.icons8.com/material-rounded/24/000000/ticket.png');
    margin-right: 10px;
  }
  
  .span_mytickets::before {
    content: url('https://img.icons8.com/material-rounded/24/000000/closed-sign.png');
    margin-right: 10px;
  }
  
  /* Create Ticket styles */
  .createticket {
    display: flex;
    flex: 0.80;
    margin: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #000;
  }
  
  .ticketcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  
  .loading {
    margin: 20px 0;
    font-size: 20px;
  }
  
  .loading::before {
    content: url('https://img.icons8.com/ios-glyphs/30/000000/submit-progress.png');
    margin-right: 10px;
    animation: spin 1s linear infinite;
  }
  
  .ticket_subject{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    color: #000;
  }
  
  .ticket_subject>select{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: medium;
    color: #000;
  }
.ticket_description{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    color: #000;
}
.ticket_description>textarea{

    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: medium;
    height: 200px;
}