
/* Define root variables */
:root {
  --primary-color: #3f51b5;
  --secondary-color: #ffffff;
}

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}

/* Login container */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary-color);
}

.login__logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.login__container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login__container h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login__container form {
  display: flex;
  flex-direction: column;
}

.login__container h5 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.login__container input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login__signInButton {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login__signInButton:hover {
  background-color: #324f91;
}

/* Back button */
.backheader_link {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
}

.back_button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
