/* Define root variables */
:root {
    --primary-color: #3f51b5;
    --secondary-color: #ffffff;
  }
  
  /* Import Google Font */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
  
  /* Agent Dashboard */
  .agentdashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Sidebar */
    .agentdashboard_sidebar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .agentdashboard_sidebar_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  
  .agentdashboard_sidebar_header h3 {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Navigation */
  .agentdashboard_sidebar_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 24px;
  }
  
  .button_container {
    margin-bottom: 16px;
  }
  
  .header_linka {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .header_linka:hover {
    color: #e0e0e0;
  }
  
  .span_tickets {
    display: flex;
    align-items: center;
  }
  
  .span_tickets h2 {
    margin-left: 16px;
    font-size: 16px;
  }
  
  /* Tickets Display */
  .agentdashboard_tickets {
    background-color: #f9f9f9;
    width: calc(100% - 250px);
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    
  }
  
  .agentdashboard_tickets_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .agentdashboard_tickets_header_heading h1 {
    font-size: 24px;
    margin-right: 16px;
  }
  
  .linkagent {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .linkagent:hover {
    color: #a5a5a5;
  }
  
  .agentdashboard_tickets_header_title h2 {
    font-size: 16px;
  }
  
  /* Tickets Display */
  .agentdashboard_tickets_ticketsdisplay {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    border-radius: 5px;
    border: #b9bbca 1px solid;
    width: 100%;
  }
  